@()

@main("About") {
  <!-- PAGE CONTENT BY DAWID RESZKA X00140684!-->
<div class="row">
  <div class="col-sm-12" style="text-align:center; margin-bottom:2em;">
        
          <img src="@routes.Assets.versioned("images/meet.jpg")" alt="Los Angeles" style="width:100%; border-bottom: 3px; border-bottom-style: solid;
      border-bottom-color:#5b9aff;" >
  
  </div>
  <div class="info" style="border:1px solid #ccc; text-align:center;">
  <h1>Welcome to Gear Foot - About Us</h1>
  <p>Hi! Gear Foot is a website created by a team of 3 people</p>
  
  
  <p>Justinas Zavelskis - Programmer</p>
  <p>Dawid Reszka - Graphic Designer</p>
  <p>Mohammad Luqman Shezhad - Manager</p>
  </br>
  <p>The main goal of our website is to create a market for car enthusiast who are in-need of a market/platform to sell their unique , modified , stock and classic vehicles.</br>
  - Click <a href="cars.html">here</a> to see cars we have for sale.</br>
  In addition, our website is also a platform where you can sell and buy car parts that some may need.</br>
  - Click <a href="parts.html">here</a> to see parts we have for sale</p>
  
  <p>However, our website is also a place where you can meet new people and car enthusiast. This information can be found in our <a href="getinvolved.html">Get Involved</a> page where you can find farious of information about many car meets all around the world!</p>
  
  </ul>
  </div>
}
